<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.jeju.admin.car.reservation.dao.AdminCarReservationDao">

	<!-- 차량 예약 관리 리스트 
	<select id="carResList" resultType="AdminCarReservation">
		SELECT *
		FROM RENTAL
		WHERE ren_state = '입금완료(인수대기)' or ren_state = '렌트중' or ren_state = '반납완료'
		order by ren_car_number desc
	</select> -->


	<!-- 게시물 검색 쿼리 분리 -->
	<sql id="noticeCommon">
		SELECT *
		FROM RENTAL
		<where>
			<if test="search=='ren_number'">
					<![CDATA[ren_number LIKE '%'|| #{keyword} ||'%']]>
			</if>
			<if test="search=='rsv_number'">
					<![CDATA[rsv_number LIKE '%'|| #{keyword} ||'%']]>
			</if>
			<if test="search=='rsv_name'">
					<![CDATA[rsv_name LIKE '%'|| #{keyword} ||'%']]>
			</if>
		</where>
	</sql>

	<!-- 게시물 전체 조회 -->
	<select id="carResList" parameterType="AdminCarReservation"
		resultType="AdminCarReservation">
		<!-- Board - boardList -->
		SELECT
		*
		FROM
		( SELECT list.*, ROWNUM AS RNUM
		FROM (
		<include refid="noticeCommon"></include>
		<choose>
			<when test="order_by=='ren_number'">
				ORDER BY ren_number
			</when>
		</choose>
		<choose>
			<when test="order_sc=='ASC'">
				ASC
			</when>
			<when test="order_sc=='DESC'">
				DESC
			</when>
		</choose>
		) list 
		)
		<where>
			<if test="start_row != null and start_row != ''">
				<if test="end_row != null and end_row != ''">
					RNUM BETWEEN #{start_row} AND #{end_row} and rsv_state = '입금완료(인수대기)' or rsv_state = '렌트중'
				</if>
			</if>
		</where>
	</select>

	<!-- 게시물 카운트 페이징 -->
	<select id="listCnt" parameterType="AdminCarReservation"
		resultType="int">
		<!-- Board - boardListCnt -->
		SELECT NVL(count(rsv_state), 0)
		FROM RENTAL
		WHERE rsv_state = '입금완료(인수대기)' or rsv_state='렌트중'
	</select>

	
	<!-- 차량 예약 관리 상세 -->
	<select id="detail" resultType="AdminCarReservation">
		SELECT *
		FROM RENTAL
		WHERE
		ren_number = #{ren_number}
	</select>
	
	
	<!-- 차량 예약 관리 업데이트 -->
	<update id="update" parameterType="AdminCarReservation">
		 UPDATE RENTAL
		 SET
		 ren_car_number = #{ren_car_number},
		 rsv_number = #{rsv_number},
		 ren_license_number = #{ren_license_number},
		 ren_take_date = #{ren_take_date},
		 rsv_state = #{rsv_state},
		 ren_return_date = #{ren_return_date}
		 WHERE ren_number = #{ren_number}
	</update>
	
	
	<!-- 회원 예약 내역에 업데이트 -->
	<update id="change" parameterType="AdminCarReservation">
		UPDATE RESERVATION
		SET
		ren_car_number = #{ren_car_number},
		rsv_state = #{rsv_state}
		WHERE rsv_number = #{rsv_number}
	</update>
</mapper>